body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo-name {
    display: flex;
    align-items: center;
}
header img {
    width: 120px;    
    height: 150px;
    margin: 12px 0 0 22px;
}
header h1 {
    margin: 0;
    padding: 0;
    color: #555;
}
section {
    margin: 0 25px;
    padding: 1em;
    max-width: 900px;
    color: #111;
    background: #ddd;
    border-radius: 12px;
    box-shadow: 12px 12px 12px #ccc;
}
article {
    display: block;
    overflow: hidden;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 12px 12px 12px #aaa;
    background: #eee;
    margin: 12px;
}
p {
    padding: 12px;
    margin: 0px 0 0 0;
    display: inline-block    
}
h3 {
    margin: 12px 0 12px 0;
}
img {
    float: left;
    margin: 0 12px 12px 0;
    border: 12px solid white;
    border-radius: 12px;
}
img.right {
    float: right;
    margin: 0 0 0 12px;
}
img.space-top {
    margin: 12px 12px 12px 0;    
}
img.alpha-cronke5 {
    width: 400px;
}
footer {
    display: block;    
    position: fixed;
    padding: 12px;
    background: #ccc;
    margin: 6px;
    bottom: 0;
    right: 0;
    border-radius: 12px;
}
/*i.material-icons.orange600 { 
    color: #FB8C00; 
}    */
/*.mail-dialog-icon .material-icons {
    color: #aaa;
    font-size: 40px;
    margin: 12px;
}*/
i.link {
    display: inline-block;
    text-decoration: none;
    float: left;
    background: lightyellow;
    padding: 12px;
    border-radius: 12px;
    margin: 0 12px;
}
i.link a{
    text-decoration: none;
}
